<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>  
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27391859?query=java%20Odessa">Senior Java Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27391844?query=java%20Odessa">Senior Java Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27394088?query=java%20Odessa">Middle C++ Developer (GameDev)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Nordcurrent Odessa</td> 
     <td class="salary"></td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27765914?query=java%20Odessa">QA Automation Engineer (Java)</a></td> 
     <td class="city">Гомель</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27765915?query=java%20Odessa">QA Automation Engineer (Java)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27749558?query=java%20Odessa">QA Automation Engineer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27749625?query=java%20Odessa">QA Automation Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27562612?query=java%20Odessa">Middle / Senior Java Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27502802?query=java%20Odessa">Администратор баз данных Oracle</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Key people recruiting</td> 
     <td class="salary">до 3 000 USD</td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27584133?query=java%20Odessa">Atlassian Developer</a></td> 
     <td class="city">Санкт-Петербург, Площадь Ленина</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27562688?query=java%20Odessa">Middle Automation Test engineer (Python)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27562896?query=java%20Odessa">System Administrator with English</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27403458?query=java%20Odessa">Java-разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО ППЛ 33-35</td> 
     <td class="salary">21 000-27 000 грн.</td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27782221?query=java%20Odessa">Full Stack разработчик (г.Одесса)</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">ООО Метасистемс</td> 
     <td class="salary">от 3 000 USD</td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27731340?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Metricly</td> 
     <td class="salary">4 000-5 000 USD</td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27663517?query=java%20Odessa">DevOps Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО ППЛ 33-35</td> 
     <td class="salary">17 000-20 000 грн.</td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27589780?query=java%20Odessa">Java Full Stack Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">KM Ware</td> 
     <td class="salary"></td>
    </tr>
    <tr>
     <td class="title"><a href="https://career.ru/vacancy/27733924?query=java%20Odessa">Специалист технической поддержки</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">CallStar</td> 
     <td class="salary">от 9 000 грн.</td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27563314?query=java%20Odessa">Container Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td>
    </tr>
    <tr>
     <td class="title"><a href="https://hh.ru/vacancy/27440184?query=java%20Odessa">Фул-стек разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Метасистемс</td> 
     <td class="salary">от 3 000 EUR</td>
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody>
  </table>  
 </body>
</html>